@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 50px;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: inline-block;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  max-width: 63%;
  padding: 20px;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

/*.wrapper {
  width: 100%;
  padding: 15px;
}*/

.wrapper {
  display: flex;
  align-items: flex-end;
  padding: 14px;
  width: 65%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  float: left;
  margin-bottom: 15px;
  box-shadow: 0 0 20px #0000001a;
}


.ai {
  width: 65%;
  height: auto;
  background: #e40067;
  border-radius: 15px;
  justify-self: unset;
  float: right;
}

.ai .message {
  color: #fff;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #000;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 61%;
  margin: 0 auto;
  padding: 10px;
  background: #ffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  color: #000;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  height: auto !important;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

.header_menu .row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.header_menu .nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.header_menu {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.header_menu .container {
  max-width: 1170px;
  width: 100%;
  display: block;
  padding: 30px 0;
  margin: auto;
}

.header_menu .nav-links li a {
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
}

button.btn-login {
  background: #ff9000;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
}

@media  screen and (max-width:768px) {
  .meu_items {
    display: none;
}

#app {
    padding: 0 10px;
}

form {
    max-width: 100%;
    margin-bottom: 20px;
}
#chat_container {
  max-width: 100%;
}

.ai .message {
  font-size: 13px;
}
.brank-link img {
  max-width: 199px;
}
.message {
  font-size: 16px;
} 
}